<div class="payment-card card" style="width: 18rem;">
<div class="payment_success_container">
  <div class="payment_success_card">
    <div class="cross">
      <a routerLink="/"><img src="/assets/images/cross.png" alt="" /></a>
    </div>
    <div class="check_icon">
      <img src="/assets/images/check.png" alt="" />
    </div>
    <div class="purchase_success">
      <span><b>Purchase Successful</b></span>
    </div>
    <div class="product_soon mb-3">
      <span> You will get your product soon! </span>
    </div>
    <div class="product_experience">
      <p class="text-center">
        Get ready to experience the spatial audio with<br> adaptive EQ that tunes
        music to your ears.
      </p>
    </div>
  </div>
</div>
</div>